*{
    font-family: "Oswald", serif;
    text-decoration: none; 
    margin: 0;  /*added need to check if looks nice*/
    padding: 0;
}

li
{
    list-style: none;
}

.logo-container
{
    height:20vh;
    place-items: center;
    text-align: center;
    background: linear-gradient(#F8E847, #F59932);
}

#logo
{
    top:0;
    max-height: 100%;
    width: auto;
}

#logout
{
    position:absolute;
    margin:2vh;
    top:0;
    right:0;
}

#logout-submit
{
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: black; 
    color: white; 
    border: none; 
    cursor: pointer; 
}

/*   ORDER ('Pas;utījumi') view   */
.orders-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}
.order {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: box-shadow 0.3s ease;
}
.order:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.order h3 {
    margin-top: 0;
    font-size: 1.5em;
}
.order p {
    margin: 0.5em 0;
}
.order ul {
    list-style: none;
    padding: 0;
}
.order ul li {
    margin: 0.5em 0;
}
.order button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.order button:hover {
    background-color: #0056b3;
}
.order button:last-child {
    background-color: #28a745;
}
.order button:last-child:hover {
    background-color: #218838;
}




/**/
.main
{
    margin:15px;
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    gap: 20px;

}

#menu
{
    display:flex;
    flex-direction: column;
    grid-row: 2 / end;
}

.menu-item
{
    padding:1em;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-bottom: 1px solid rgb(35 31 32);
}

.menu-item a
{
    color:black;
}

.caption
{
    grid-column: 2/3;
    justify-self: center;
    text-transform: uppercase;
}

.highlight
{
    color:#F59932;
}

#add-dish
{
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: end;
}

#add-dish a {

    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #4CAF50;
    color: white; 
    text-decoration: none; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s, box-shadow 0.3s; 
}

#add-dish a:hover {
    background-color: #45a049;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#add-dish a:focus,
#add-dish a:active {
    outline: none; 
    background-color: #3e8e41; /* Even darker background for active state */
}

/* DISHES VIEW */
    /*   TABLE   */
.dishes-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.dishes-table th, .dishes-table td {
    padding: 15px;
    text-align: left;
}

.dishes-table th {
    background-color: #f8ae59;
    color: white;
    text-transform: uppercase;
    font-weight: lighter;
}

.dishes-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.dishes-table tr:hover {
    background-color: #ddd;
}

.dishes-table td {
    border-bottom: 1px solid #ddd;

}

.dishes-table tr:last-child td {
    border-bottom: none;
}

    /* DELETE button */
.btn {
    background-color: #dc3545;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn :hover {
    background-color: #c82333;
}

.btn :active {
    background-color: #bd2130;
}

.btn :focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-success
{
    background-color: #45a049;
}
    /* PAGINATION */
.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
    
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
    
.pagination li a,
.pagination li span {
    display: block;
    padding: 10px 15px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
    outline: none !important;
}
    
.pagination li a:hover,
.pagination li a:focus {
    background-color: #f8ae59 !important;
    color: white !important;
}
    
.pagination li.active span {
    background-color: #f8ae59 !important;
    color: white !important;
    border: 1px solid white !important;
}


/* UPDATE MENU  */
.dish-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*justify-content: space-around;*/
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    margin-left:10%;
    margin-right:10%;
}

.dish-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease;
}

.dish-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dish-card h3 {
    margin-top: 0;
    font-size: 1.5em;
}

.dish-card p {
    margin: 0.5em 0;
}

.status-field {
    margin-top: 10px;
}

.dish-card .img-box 
{
    text-align: center;
    margin-bottom: 15px;
}

.dish-card .img-box img 
{
    width: 50%;
    border-radius: 10px;
}


    








