*{
    font-family: "Oswald", serif;
    text-decoration: none; 
}

li
{
    list-style: none;
}

.logo-container
{
    height:20vh;
    place-items: center;
    text-align: center;
    background: linear-gradient(#F8E847, #F59932);
}

#logo
{
    top:0;
    max-height: 100%;
    width: auto;
}

#logout
{
    position:absolute;
    margin:2vh;
    top:0;
    right:0;
}

#logout-submit
{
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: black; 
    color: white; 
    border: none; 
    cursor: pointer; 
}

.main
{
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    gap: 20px;

}

#menu
{
    display:flex;
    flex-direction: column;
    grid-row: 2 / end;
}

.menu-item
{
    padding:1em;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-bottom: 1px solid rgb(35 31 32);
}

.menu-item a
{
    color:black;
}

.caption
{
    grid-column: 2/3;
    justify-self: center;
    text-transform: uppercase;
}

.highlight
{
    color:#F59932;
}

#add-dish
{
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: end;
}

#add-dish a {

    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #4CAF50;
    color: white; 
    text-decoration: none; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s, box-shadow 0.3s; 
}

#add-dish a:hover {
    background-color: #45a049;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#add-dish a:focus,
#add-dish a:active {
    outline: none; 
    background-color: #3e8e41; /* Even darker background for active state */
}

/* Ēdieni */
    /*   TABLE   */
.dishes-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.dishes-table th, .dishes-table td {
    padding: 15px;
    text-align: left;
}

.dishes-table th {
    background-color: #f8ae59;
    color: white;
    text-transform: uppercase;
    font-weight: lighter;
}

.dishes-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.dishes-table tr:hover {
    background-color: #ddd;
}

.dishes-table td {
    border-bottom: 1px solid #ddd;

}

.dishes-table tr:last-child td {
    border-bottom: none;
}

    /* DELETE button */
.btn {
    background-color: #dc3545;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn :hover {
    background-color: #c82333;
}

.btn :active {
    background-color: #bd2130;
}

.btn :focus {
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-success
{
    background-color: #45a049;
}






